.navbar{
    display: flex;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(119, 106, 106, 0.5);
     
  }
  nav ul{
    display: flex;
      margin-left: 620px;
      font-size: larger; 
      /* border: solid black; */
      font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  nav li a:hover{
      background-color: hwb(190 28% 5%);
      box-shadow: 0 0 10px rgb(50, 104, 123) ;
  
  }
.login-section{
    background-image: url(../images/page2.jpg);
    background-size: cover;
    background-position: fixed;
}
.formlog h1{
    font-family: 'Sigmar', cursive;
}
.formlog{
    padding: 35px;
    background-color: rgb(232, 232, 232);
    box-shadow: 17px 13px 42px 9px rgba(0,0,0,0.76);
-webkit-box-shadow: 17px 13px 42px 9px rgba(0,0,0,0.76);
-moz-box-shadow: 17px 13px 42px 9px rgba(0,0,0,0.76);
}
/* .passwordInput{
    margin-top: 5%; 
    text-align :center;
}

.displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align :center;
} */
/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    /* content: "&#10004;"; */
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    /* content: "&#10006;"; */
  }
#logb{
    width: 100%;
}
.forg a{
    margin: 130px;
    text-decoration: none;
    color: #025fd2;
    font-size: 12px;
    font-weight: 500;
}
