*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(119, 106, 106, 0.5);
   
}
nav ul{
  display: flex;
    margin-left: 620px;
    font-size: larger; 
    /* border: solid black; */
    font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav li a:hover{
    background-color: hwb(190 28% 5%);
    box-shadow: 0 0 10px rgb(50, 104, 123) ;

}
.section_erana{
  background-image: url(../eranakulam/eranabak.jpg);
  background-size: cover;
  background-position: fixed;
}
.section_erana h1{
  text-align: center;
  margin-top: 93px;
  color: rgb(21, 38, 63);
  font-family: 'Sigmar', cursive;
 
}
.section_erana img{
  cursor: pointer;

  transition: 400ms;   
}
.section_erana img:hover{
 
     filter: brightness();
      transform: scale(1.03);
    }

.section_erana #para{
  font-family: 'Sigmar', cursive; 
  padding: 40px;
  text-align: justify;
}

.section_erana img{
  width: 25%;
  height: 25%;
  margin-left: 38%;
  box-shadow: 10px 30px 41px 11px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 30px 41px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 30px 41px 11px rgba(0,0,0,0.75);
}
/* .section_alappuzha p{
  padding: 50px;
  text-align: justify;
  font-weight: 900;
} */
/* .section_alappuzha .col img{
  width: 300px;
  height: 200px;
 
} */
.section_erana .col{
  display: flex;
  justify-content: center;
  align-items: center;
 
 }
 .section_erana .col h1{
  text-align: center;
  padding: 25px;
  margin-top: 25px;
 
  color: #1a3455;
 
 }
 .col img{
  width: 450px;
  height: 350px;
  /* border: 2px solid rgb(102, 102, 147);  */
  /* border-radius: 13px; */
  box-shadow: 10px 15px 29px 13px rgba(0,0,0,0.81);
  -webkit-box-shadow: 10px 15px 29px 13px rgba(0,0,0,0.81);
  -moz-box-shadow: 10px 15px 29px 13px rgba(0,0,0,0.81);
 cursor: pointer;

transition: 400ms;
margin-left: 10px;
}

.col img:hover{
filter: drop-shadow();
transform: scale(1.03);
} 
footer{
  background-color: black;
  color: white;
 

}
footer h3{
  text-align: center;
}